

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <form action="/Home/AfterCreate" method="post">
        <div class="table-responsive">
            <table clss="table">
                <h2>ADD EMPLOYEE</h2>
                <tr>
                    <td> No </td>
                    <td><input type="text"  name="Id" value="" /></td>
                </tr>
                <tr>
                    <td> Name </td>
                    <td><input type="text" name="Name" value="" /></td>
                </tr>
                <tr>
                    <td> Address </td>
                    <td><input type="text" name="Address" value="" /></td>
                </tr>
                <tr>
                    <td colspan="3"><input class="btn btn-primary" type="submit" name="btnSubmit" value="ADD Employee" /></td>
                </tr>

            </table>

        </div>
    </form>
</body>
</html>
